@charset "UTF-8";
/* Fuentes */
@font-face {
  font-family: "roboto-general";
  src: url("../fonts/RobotoSlab-Light.ttf");
}
@font-face {
  font-family: "roboto-titulares";
  src: url("../fonts/RobotoSlab-Regular.ttf");
}
/* Color de fondo de encabezado con logo */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  background-color: #DBE5E0;
}
header .imagen-logo {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  height: auto;
  margin-bottom: 10px;
  /* margin-top: 10px; */
  margin-left: 30px;
}
header .secciones {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-left: 40px;
  font-family: roboto-general;
}
header .cada-link {
  font-size: 18px;
  width: 150px;
  margin: 30px;
  align-content: center;
  align-items: center;
}
header a:hover {
  text-decoration: underline;
  color: gray;
}

img {
  width: 160px;
}

.seccion-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 80px;
  justify-content: space-between;
  align-content: center;
}
.seccion-1 .seccion-1-hero {
  font-family: "roboto-general";
  padding-right: 150px;
  font-size: 18px;
  margin-left: 60px;
  line-height: 2rem;
  text-align: left;
}
.seccion-1 h1 {
  color: brown;
  font-family: "roboto-general";
  font-size: 56px;
  padding-top: 50px;
  line-height: 3rem;
  letter-spacing: -0.25px;
}
.seccion-1 .seccion-1-hero-texto {
  margin-top: 30px;
  color: black;
}
.seccion-1 .boton {
  background-color: rgb(132, 183, 132);
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  letter-spacing: 0.1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}
.seccion-1 .imagen-principal {
  width: 500px;
  margin-top: 50px;
  align-content: center;
}

/* Sección consumidores y productores */
.contenedor {
  background-color: #DBE5E0;
  font-family: "roboto-general";
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contenedor .servicio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.contenedor .imagen-circular {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
  align-items: center;
}
.contenedor h3 {
  font-size: 24px;
}
.contenedor .busca {
  width: 300px;
  font-size: 28px;
  text-align: center;
  color: black;
  margin-right: 50px;
  justify-content: space-between;
}
.contenedor .texto-busca, .contenedor .texto-compra, .contenedor .texto-conecta {
  font-size: 18px;
  color: black;
}
.contenedor .conecta {
  width: 300px;
  font-size: 28px;
  text-align: center;
  color: black;
}
.contenedor .texto-conecta {
  display: flex;
}
.contenedor .compra {
  width: 300px;
  font-size: 28px;
  text-align: center;
  color: black;
}
.contenedor .texto-compra {
  display: flex;
}

h2 {
  font-family: "roboto-titulares";
  color: black;
  font-size: 28px;
}

/* Sección de galería de productos */
.productos {
  font-family: "roboto-titulares";
  align-content: center;
}
.productos .galeria {
  font-family: "roboto-titulares";
  margin-top: 20px;
  margin-left: 50px;
}
.productos .solo-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  place-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.productos .solo-cards .card {
  flex-wrap: wrap;
  margin-top: 20px;
}

/* footer */
footer {
  background-color: #DBE5E0;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}
footer .seccion-footer {
  margin-left: 50px;
  padding-top: 20px;
  font-family: "roboto-titulares";
}
footer .logo-footer {
  width: 100%;
}
footer .texto-derechos {
  font-family: "roboto-general";
  margin-bottom: 20px;
}
footer .derechos-reservados {
  font-family: "roboto-general";
  text-align: center;
}

.link {
  text-decoration: none;
  margin-right: 48px;
  color: black;
}

@media (max-width: 500px) {
  .imagen-logo {
    width: 180px;
    margin-top: 15px;
  }
}
@media (max-width: 500px) {
  .texto-bienvenida {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .imagen-principal {
    width: 460px;
  }
}
@media (max-width: 500px) {
  .servicio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .solo-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style-nuevo.css.map */
