@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/maps";
/* Fuentes */

@font-face {
    font-family:'roboto-general';
    src: url('../fonts/RobotoSlab-Light.ttf');
}

@font-face {
    font-family: "roboto-titulares";
    src: url('../fonts/RobotoSlab-Regular.ttf')
}

/* Color de fondo de encabezado con logo */

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

// Anidaciones y Variables

header {
    @include flex-particular(flex, wrap, center, space-between);
    min-height: 80px;
    background-color: $color-principal;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-name: entrada;  
    
    @keyframes entrada {
    from {
    opacity: 0%;
    }
    } 

    .imagen-logo {
        @include flex-particular(flex, wrap, null, null);
        @include sizes(120px, auto);
        margin-bottom: 10px;
        /* margin-top: 10px; */
        margin-left: 30px;
        
    }

    .secciones {
        @include flex-particular(flex, wrap, center, space-between);
        list-style: none;
        margin-left: 40px;
        font-family: roboto-general; 
    }

    .cada-link {
        font-size: $general;
        width: 150px;
        margin: 30px;
        align-content: center;
        align-items: center;
    }

    a:hover {
        text-decoration: underline;
        color: $hover;
    }
}



img {
    width: 160px;
}


.seccion-1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 80px;
    justify-content: space-between;
    align-content: center;
   

    .seccion-1-hero {
        font-family: 'roboto-general';
        padding-right: 150px;
        font-size: $general;
        margin-left: 60px;
        line-height: 2rem;
        text-align: left;  
        
    }

    
    h1 {
        color: $text-title;
        font-family: 'roboto-general';
        font-size: 56px;
        padding-top: 50px;
        line-height: 3rem;
        letter-spacing: -0.25px;
        
    }

    .seccion-1-hero-texto {
        margin-top: 30px;
        color: $text-color;
    }

    .boton {
        background-color: map-get($map-colors, verde-boton);
        color: white;
        border: none;
        @include sizes(150px, 50px);
        letter-spacing: 0.1rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 50px;
    }

    .imagen-principal {
        width: 500px;
        margin-top: 50px;
        align-content: center;
    }

}




/* Sección consumidores y productores */

.contenedor {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    font-family: 'roboto-general';
    @include padding(50px, 50px, 20px, 20px);

    .servicio {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

        .imagen-circular {
        margin-bottom: 10px;
        margin-top: 10px;
        width: 300px;
        align-items: center;
        }

        h3 {
            font-size: $texto-medio;
        }

        .busca {
            width: 300px;
            font-size: 28px;
            text-align: center;
            color: $text-color;
            margin-right: 50px;
            justify-content: space-between;
        }
        
        .texto-busca {
            font-size: $general;
            color: $text-color;
        }
        
        .conecta {
            width: 300px;
            font-size: $subtitulos;
            text-align: center;
            color: $text-color;
        }
        
        .texto-conecta {
            display: flex;
            @extend .texto-busca
        }
        
        .compra { 
            width: 300px;
            font-size: $subtitulos;
            text-align: center;
            color: $text-color;
        }
        
        .texto-compra {
            display: flex;
            @extend .texto-busca
        }
}

h2 {
    font-family: 'roboto-titulares';
    color:$text-color;
    font-size: $subtitulos;
}


/* Sección de galería de productos */

.productos {
    font-family: 'roboto-titulares';
    align-content: center;

    .galeria {
        font-family: 'roboto-titulares';
        margin-top: 20px;
        margin-left: 50px;
    }

        .solo-cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        flex-wrap: wrap;
        place-items: center;
        margin-top: 20px;
        margin-bottom: 50px;
        
        .card {
        flex-wrap: wrap;
        margin-top: 20px;
            
        }
    }
}



/* footer */


footer {
    background-color: $color-principal;
    margin-top: 20px;
    /* margin-bottom: 20px; */


    .seccion-footer {
        margin-left: 50px;
        padding-top: 20px;
        font-family: 'roboto-titulares';
    }

        .logo-footer {
        width: 100%;
        }
    
        .texto-derechos {
        font-family: 'roboto-general';
        margin-bottom: 20px;
        }
    
        .derechos-reservados {
        font-family: 'roboto-general';
        text-align: center;
        }
    
}

.link {
    text-decoration: none;
    margin-right: 48px;
    color: $text-color;
}


@media (max-width: 500px) {
    .imagen-logo {
        width: 180px;
        margin-top: 15px;
    }
}

@media (max-width: 500px) {
    .seccion-1 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
            flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .imagen-principal {
        width: 460px;
    }
}

@media (max-width: 500px) {
    .contenedor .servicio {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        flex-wrap: wrap;
    }
}

@media (max-width: 500px){
    .productos .solo-cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    flex-wrap: wrap;
}
}
